<script type="application/javascript">
	<% if current_user %>
		var user_id = <%= current_user.id %>;
	<% else %>
		var user_id = null;
	<% end %>
	$(App.initialize);
</script>

<div class="container container-fluid" id="content">
</div>