<h1><%= user.get("username") %></h1>
<br>

<h5>Moderated Subs</h5>
<ul>
<% subs.each(function(sub) { %>
	<li>
		<a href="#subs/<%= sub.id %>">
			<%= sub.escape("title") %>
		</a>
	</li>
<% }) %>
</ul>

<br>

<h5>Top Posts</h5>
<div class="posts-list">
</div>
