<li>
	<div class="comment">
		<div class="title">
			<%= comment.escape("content") %>
		</div>
		
		<div class="author">
			<span class="authorname">
				<%= comment.escape("submitter") %>
			</span>
			<br>
<% if (user_id === comment.get("submitter_id")) { %>
	<button class="editComment btn btn-warning">
		Edit
	</button>
	<button class="deleteComment btn btn-danger">
		Delete
	</button>
<% } else { %>
<% } %>
	<button class="replyForm btn btn-info">
		Reply
	</button>
		</div>
	</div>
	
	<div class="replyForm"></div>
		
	<ul class="comments" data-parent-comment-id="<%= comment.id %>">
	</ul>	
</li>
