<div class="comment row">
		<div class="col-xs-8 title">
			<%= comment.escape("content") %>
		</div>
		
		<div class="col-xs-1 author">	
			<span class="authorname">
				<%= comment.escape("submitter") %>
			</span>
		</div>
	
		<div class="buttons col-xs-3">
			<% if (user_id === comment.get("submitter_id")) { %>
			<button 
			class="editComment btn btn-xs btn-link linkButton">
				Edit
			</button>
			<button 
			class="deleteComment btn btn-xs btn-link linkButton">
				Delete
			</button>
			<% } else { %>
			<% } %>
			<button 
			class="replyForm btn btn-xs btn-link linkButton">
				Reply
			</button>
		</div>
</div>

<ul class="replyForm row"></ul>
	
<ul class="comments row" data-parent-comment-id="<%= comment.id %>">
</ul>	

