<div class="post-container"></div>

<div class="bottomSpace">
	<%= post.escape("content") %>
</div>

<% if(user === post.get("submitter")) { %>
	<div class="row">
		<a href="#posts/<%= post.id %>/edit" 
			class="btn btn-link linkButton">
			Edit Post
		</a>
		<button class="deletePost btn btn-link linkButton">
			Delete Post
		</button>
	</div>
<% } %>

<% if (user_id) { %>
<div class="top-level-comment-form row bottomSpace">
	<form class="commentForm">
		<textarea 
			placeholder="Comment here"
			class="form-control"
			rows="3"
			name="comment[content]"></textarea>
		<input type="submit" value="Post" class="btn btn-primary">
	</form>
</div>
<% } else { %>
<h5 class="row">Log in to comment or vote.</h5>
<% } %>

<ul class="row post-comments">
</ul>