<div class="row">	
	<% if (user_id === sub.get("moderator_id")) { %>
		<div class="author">
			<a href="#subs/<%= sub.get('id') %>/edit" 
				class="btn btn-warning">
				Edit Sub
			</a>
			<button class="deleteSub btn btn-danger">
				Delete Sub
			</button>
		</div>
	<% } %>
	
	<h1><%= sub.escape("title") %></h1>
	
	<%= sub.escape("description") %> |
	<u>Moderator</u>: 
	<%= sub.escape("moderator") %> 
</div>

<% if (user_id) { %>
<div class="postPost row">
</div>
<% } else { %>

<h5 class="row"> Log in to submit your own posts or vote.</h5>
<% } %>

<div class="posts-list row">
</div>
